/*全ページ共通*/

.item-main {
  width: 100%;
  min-width: 500px;
  height: 100%;
  min-height: 900px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-family: 'HuiFont109', sans-serif;
}

.item-header {
  width: 100%;
  height: 40px;
  font-size: 25px;
  color: #353535d2;
  margin-top: 4px;
  padding-left: 15px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.item-header a {
  text-decoration: none;
  color: inherit;
}

.form-wrap3 {
  width: 500px;
  max-height: 700px;
  background-image: url("haikei.png");
  padding-bottom: 60px;
  margin-top: 0;
  position: relative;
}

/*全ページ共通*/

/*メインページ*/

.kitchen-container {
  position: relative;
  width: 450px;
  height: 620px;
  border: none;
  margin-top: 15px;
  margin-left: 25px;
  overflow: hidden;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.253), 1px 3px 10px rgba(0, 0, 0, 0.329);
}

.slide-container {
  position: absolute;
  width: 1800px;
  height: 520px;
  display: flex;
  transition: transform 0.3s ease-in-out;
  background-image: url("kabegami.png");
}

.slide-container.bottom {
  bottom: 0;
  height: 100px;
  background-image: url("yuka.png");
  background-size: 100% auto;
}

.slide-container.top {
  height: 520px;
  background-color: #ffffff;
}

.slide {
  width: 450px;
  height: 520px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  color: rgb(77, 81, 82);
  font-size: 22px;
  padding: 10px 0 0 20px;
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #f0d383;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.slide-control.left {
  left: 0;
}

.slide-control.right {
  right: 0;
}

/*メインページ*/

/*全ページ共通_フッター*/

.icon-button {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.icon-button > * {
  flex-basis: calc(19.7%);
}

.items-add-btn,
.items-notice-btn,
.items-calendar-btn,
.items-user-btn,
.items-logout-btn {
  display: inline-block;
  width: 100px;
  height: 60px;
  background: linear-gradient(180deg, #ffffff, #ddf1834f);
  border: none;
  color: #000000d2;
  line-height: 19px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'HuiFont109', sans-serif;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  margin: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*全ページ共通_フッター*/