.item-main {
  width: 100%;
  min-width: 500px;
  height: 100%;
  min-height: 900px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-family: 'HuiFont109', sans-serif;
}

.item-header {
  width: 100%;
  height: 40px;
  font-size: 25px;
  color: #353535d2;
  margin-top: 4px;
  padding-left: 15px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.form-wrap3 {
  width: 500px;
  max-height: 700px;
  background: linear-gradient(180deg, #ffecb9, #f6faec);
  padding-bottom: 60px;
  margin-top: 0;
  position: relative;
}

/*メインページ*/

.kitchen-container {
  position: relative;
  width: 450px;
  height: 620px;
  border: 1px solid #ccc;
  margin-top: 15px;
  margin-left: 25px;
  overflow: hidden;
}

.slide-container {
  position: absolute;
  width: 1800px;
  height: 520px;
  display: flex;
  transition: transform 0.3s ease-in-out;
  background-image: url("kabegami.png");
}

.slide-container.bottom {
  bottom: 0;
  height: 100px;
  background-image: url("yuka.png");
  background-size: 100% auto;
}

.slide-container.top {
  height: 520px;
  background-color: #ffffff;
}

.slide {
  width: 450px;
  height: 520px;
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #f0d383;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.slide-control.left {
  left: 0;
}

.slide-control.right {
  right: 0;
}

/* 冷蔵庫 */

.refrigerator {
  position: absolute;
  width: 150px;
  height: 300px;
  background: linear-gradient(180deg, #ffffff, #dfdfdf);
  perspective: 800px;
  border-radius: 2px;
  border: 10px solid #ffffff;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
  cursor: move;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.door {
  width: 150px;
  height: 300px;
  background: linear-gradient(180deg, #ffffff, #f1f0f0fd);
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: left;
  border-radius: 2px;
  border: none;
  z-index: 2;  /* Updated: Changed z-index from 1 to 2 */
  margin-top: -10px;
  margin-left: -10px;
}

.door-handle {
  width: 10px;
  height: 50px;
  background-color: #d4cccc;
  position: absolute;
  top: 50%;
  right: 5px;
  border-radius: 1px;
  transform: translate(0, -50%);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

#open-door {
  margin-top: 10px;
}

#close-door {
  margin-top: 10px;
}

/* 冷蔵庫 */

/* 棚 */

.shelf {
  position: absolute;
  width: 200px;
  height: 150px;
  background: linear-gradient(180deg, #ffffff, #dfdfdf);
  border: none;
  cursor: move;
  z-index: 3;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.left-door {
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff, #ebebeb);
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: left;
  border-radius: 2px;
  border: none;
  z-index: 3;  /* Updated: Changed z-index from 2 to 3 */
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

#open-door_s {
  margin-top: 10px;
}

#close-door_s {
  margin-top: 10px;
}

.right-drawers {
  width: 47%;
  height: 100%;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.drawer {
  width: 100%;
  height: 33.33%;
  background: linear-gradient(180deg, #ffffff, #eeeeee);
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.drawer.open {
  transform: translateX(0) scale3d(1, 1, 1);
  z-index: 2;
}

.drawer.closed {
  transform: translateX(100%) scale3d(1, 0, 1);
  z-index: 1;
}

/* 棚 */

.icon-button {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.icon-button > * {
  flex-basis: calc(19.7%);
}

.items-add-btn,
.items-notice-btn,
.items-calendar-btn,
.items-user-btn,
.items-logout-btn {
  display: inline-block;
  width: 100px;
  height: 60px;
  background: linear-gradient(180deg, #ffffff, #ffefa7);
  border: none;
  color: #000000d2;
  line-height: 19px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'HuiFont109', sans-serif;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  margin: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}