<div class="refrigerator_large">
  <div class="door-left"></div>
  <div class="door-right"></div>
  <div class="large_bottom">
    <div class="ice-left"></div>
    <div class="ice-right"></div>
    <div class="vegetable-compartment"></div>
    <div class="freezer-compartment"></div>
  </div>
</div>
