<div class="shelf">
  <div class="left-door">
    <div class="door-handle_s"></div>
  </div>
  <div class="right-drawers">
    <div class="drawer" id="drawer1"></div>
    <div class="drawer" id="drawer2"></div>
    <div class="drawer" id="drawer3"></div>
  </div>
</div>