<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/header' %>
    
    <div class="kitchen-container">
      <div class="slide-container_storage">
        <div class="slide slide-1">Storage ①</div>
        <div class="slide slide-2">Storage ②</div>
      </div>
      <div class="slide-container_storage bottom"></div>
      <div class="slide-control left">&lt;</div>
      <div class="slide-control right">&gt;</div>
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon' %>
  </div>
</div>
