<div class="item-main">
  <div class="form-wrap3">
    <%= render 'shared/header' %>
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    <%= render 'shared/icon_edit' %>
  </div>
</div>
