<div class="item-main">
  <div class="form-wrap3">
    <%= render 'shared/header' %>

    <div id="calendar-container" class="calendar"></div>
    <div class="navigation">
        <div class="calendar-control left" onclick="showPreviousMonth()">&lt;</div>
        <div class="calendar-control right" onclick="showNextMonth()">&gt;</div>
    </div>
    <div class="navigation">
        <div class="calendar-control left" onclick="showPreviousMonth()">&lt;</div>
        <div class="calendar-control right" onclick="showNextMonth()">&gt;</div>
    </div>

<!--後でsimplecalendarを追加-->


    <%= render 'shared/icon' %>
  </div>
</div>
