<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/header' %>
    
    <div class="kitchen-container">
      <div class="slide-container">
        <%= render 'shared/shelf' %>
        <%= render 'shared/refrigerator' %>
        <div class="slide slide-1">Kitchen ①</div>
        <div class="slide slide-2">Kitchen ②</div>
        <div class="slide slide-3">Kitchen ③</div>
        <div class="slide slide-4">Kitchen ④</div>
      </div>
      <div class="slide-container bottom"></div>
      <div class="slide-control left">&lt;</div>
      <div class="slide-control right">&gt;</div>
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon' %>
  </div>
</div>
