<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>

    <div class="kitchen-container">
      
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon_top' %>
  </div>
</div>
