.kitchen-container_item {
  height: 650px;
  overflow-y: hidden;
}

.kitchen-container_item h2 {
  padding-left: 40px;
  font-size: 18px;
}

.edit-form {
  margin-left: 45px;
  margin-top: -25px;
}

.edit-buttons {
  position: absolute;
  right: 25px;
  top: 39px;
  font-size: 14px;
}

.edit-buttons button {
  margin-left: 10px;
}

.edit-buttons a {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.edit-buttons a:hover {
  text-decoration: underline;
}

.edit-item-name,
.edit-item-date-type {
  width: 67px;
}

.edit-item-date {
  width: 68px;
}

.red {
  color: red;
  font-size: 15px;
  text-shadow: 1px 1px 3px rgb(219, 169, 169);
}

.blue {
  color: blue;
  font-size: 15px;
  text-shadow: 1px 1px 3px rgb(208, 197, 248);
}

.edit-item-quantity {
  width: 40px;
}

.edit-item-description {
  width: 65px;
  height: 60px;
  white-space: pre-wrap;
}

.item-actions {
  width: 36px;
}

.item-container {
  height: 450px;
  overflow-y: scroll;
}

.item-list {
  border-collapse: collapse;
  width: 95%;
  font-size: 14px;
  margin-left: 20px;
}

.item-list tbody tr {
  height: 40px;
  max-height: 40px;
}

.item-list th,
.item-list td {
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
}

.item-list th {
  background-color: #f2f2f275;
}

.item-list td:not(:last-child) {
  width: 100px;
}

.item-list td.description {
  white-space: pre-wrap;
  word-break: break-word;
}

.item-list th:nth-child(5) {
  width: 100px;
}

.item-form {
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.actions input[type="submit"] {
  margin-left: 10px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* ここを修正 */
}

.field label {
  margin-right: 10px;
  text-align: right;
  width: 100px;
}

.field input[type="text"],
.field input[type="number"],
.field select {
  flex: 1;
  text-align: left; /* ここを追加 */
  margin-right: 50px; /* 右側のスペースを追加 */
  margin-top: 2px;
}
