.calendar {
  width: 420px;
  height: 460px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(63, 63, 63, 0.103), 1px 3px 3px rgba(137, 150, 137, 0.329);
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.calendar-heading {
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  height: 415px;
}

th, td {
  padding: 5px;
}

td {
  background: linear-gradient(180deg, #f0f0f054, #d6d6d64f);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  vertical-align: top;
  text-align: left;
  height: 66.5px;
  width: 62.59px;
  position: relative;
  padding: 5px;
}

.other-month {
  color: #ccc;
}

.event-title {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  width: 60px;
}

.event-title-extend {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.event-title-extend.active {
  background-color: inherit;
}

/*color_id*/

.color-1 {
  background-color: #ffffff56;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

.color-2 {
  background: linear-gradient(180deg, #f5c1c1ad, #ff000041);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

.color-3 {
  background: linear-gradient(180deg, #dfe0f1ad, #0a37ff34);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

.color-4 {
  background: linear-gradient(180deg, #d0f1d0ad, #1eff002a);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

.color-5 {
  background: linear-gradient(180deg, #fcf2c5a2, #fbff004d);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

.color-6 {
  background: linear-gradient(180deg, #fdc4faad, #ff00aa3f);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 400;
}

/*color_id*/

.calendar-navigation {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.calendar-navigation-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 24px;
  line-height: 50px;
  background-color: #f2f2f23f;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.calendar-navigation-link-left {
  float: left;
}

.calendar-navigation-link-right {
  float: right;
}

.calendar-navigation-link a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.calendar-navigation-link a:hover,
.calendar-navigation-link a:focus {
  color: inherit;
  text-decoration: none;
}

.calendar-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.calendar-form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
  padding-right: 20px;
}

#event-detail {
  margin-top: 10px;
  position: absolute !important;
  top: 0 !important;
  left: 10px !important;
  width: 75%; 
  background: linear-gradient(180deg, #ffffffe7, #a8ada6);
  padding-left: 20px;
  padding-right: 60px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.input-container p {
  display: flex;
  text-align: right;
  width: 100px; /* タイトルの幅を固定 */
  justify-content: flex-end; /* 右揃え */
  margin-right: 10px;
}

.input-container p::after {
  content: ":";
  margin-left: 5px;
  vertical-align: middle;
}

.input-container input[type="date"],
.input-container input[type="text"],
.input-container select {
  flex-grow: 1;
}

.calendar-button-container {
  display: flex;
  justify-content: space-between;
  margin-right: -30px;
  border: none;
}

.calendar-form label {
  width: 90px; /* ラベルの幅を調整 */
  text-align: right;
  margin-right: 10px;
}

.calendar-form input[type="text"],
.calendar-form select,
.calendar-form textarea {
  height: 20px;
  flex: 1;
  background: linear-gradient(180deg, #f0f0f0d3, #e6ecd271);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  border: none;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px; /* 上側のマージンを狭くする */
  margin-bottom: 5px; /* 下側のマージンを狭くする */
  padding: 0; /* パディングを0にする */
}

.submit-button input[type="submit"] {
  margin-left: auto; /* ボタンを右寄せにする */
}