<div class='item-main'>
  <div class='form-wrap3'>
    <%= render 'shared/loading' %>
    <%= render 'shared/header' %>
    
    <div class="kitchen-container">
      <div class="slide-container_garden">
        <div class="slide slide-1">庭</div>
        <div class="slide slide-2">庭 2</div>
      </div>
      <div class="slide-container_garden bottom"></div>
      <div class="slide-control left">&lt;</div>
      <div class="slide-control right">&gt;</div>
    </div>

    <script src="button.js"></script>
    <%= render 'shared/icon_type' %>
  </div>
</div>
