<div class='item-main'>
  <div class='form-wrap3'>
    <div class='item-header'>
      <B>Perpetual Kitchen
    </div>


    <div class="user-items">
        <!-- ログインユーザーのアイテム -->
    </div>

    <div class="kitchen-container">
      <script src="main.js"></script>
      <div id="refrigerator" class="appliance refrigerator">冷蔵庫</div>
      <div id="shelf" class="appliance shelf">棚</div>
    </div>
  

    <div class="icon-button">
      <button type="submit" class="items-add-btn">食材追加<br>┏</button>
      <button type="submit" class="items-notice-btn">お知らせ<br>╋</button>
      <button type="submit" class="items-calendar-btn">カレンダー<br>┗</button>
      <button type="submit" class="items-user-btn">自分の情報<br>┓</button>
      <button type="submit" class="items-logout-btn">ログアウト<br>┯</button>
    </div>
  </div>
</div>
