.slide-container_storage {
  position: absolute;
  width: 900px;
  height: 520px;
  display: flex;
  transition: transform 0.3s ease-in-out;
  background-image: url("souko.png");
}

.slide-container_storage.bottom {
  bottom: 0;
  height: 100px;
  background-image: url("souko_bottom.png");
  background-size: 100% auto;
}
